.container {
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    padding: 10px 0px;
}

.form {
    color: black;
    font-size: 18px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    flex: 0 1 600px;
}

.input {
    margin: 5px 0px;
    font-size: 18px;
}

.btn {
    margin-top: 5px;
    font-size: 18px;
}

.desc {
    color: gray;
}